<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--javaGRID job config file--><configuration>
  <job>
    <id>HashTable-Generation</id>
    <mode>SIMPLE</mode>
  </job>
  <data>
    <source>RUNTIME</source>
    <location/>
    <format/>
    <range>false</range>
    <startIndex>0</startIndex>
    <endIndex/>
  </data>
  <worker>
    <destination>FILE</destination>
    <pulseInterval>3</pulseInterval>
  </worker>
  <amalgamation>
    <location>F:\GitHub\javaGRID\JavaGRID\result\Amalgamated Results.txt</location>
    <format>txt</format>
    <compressFiles>false</compressFiles>
    <compressStreams>false</compressStreams>
  </amalgamation>
  <scheduling>
    <algorithm>STATIC</algorithm>
    <granularity>1000000</granularity>
    <taskTimeout>-1</taskTimeout>
  </scheduling>
</configuration>
