<?xml version="1.0" encoding="utf-8" ?>
<!--javaGRID master server config file-->
<configuration>
	<masters>
		<portStart>51000</portStart>
		<portEnd>51009</portEnd>
		<fileServerPort>51010</fileServerPort>
		<token>cf83e1357eefb8bdf1542850d66d8007d620e4050b5715dc83f4a921d36ce9ce47d0d13c5d85f2b0ff8318d2877eec2f63b931bd47417a81a538327af927da3e</token>
	</masters>
	<taskSpace>
		<ip>127.0.0.1</ip>
		<port>50000</port>
	</taskSpace>
</configuration>
